<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/showcase.css' %}">
</head>
<body>
    <div class="menu">
                <a href="{% url 'showcase' %}">Home</a>
                <button class="menu-btn">Genres</button>
                <button class="menu-btn">Authors</button>
                <button class="menu-btn">My Profile</button>
                <button class="menu-btn">Logout</button>
            </div>
</body>
</html>